 body{ 
      backgroud:blue;
}

 form label{
   display:block;
   font-size:20px;
}

  td {

border: 1px solid #000000;

border-color: cor;

}

thead{
  background: #555555;
 color: white;
 font-weight:bold:;
}

table tr{
  background-color: darkturquiose;
}

table tr td{
 bolder: 2px solid;
 bolder-color:orange;
 font-size: 24px;
}
